
<div role="main" class="hero">
    <div class="container">
        <div class="phase-banner">
            <p class="phase-banner__content">
                <strong class="phase-banner__tag">Beta</strong>
                <span class="phase-banner__text">This is a preview of the new London Datastore. <a href="#">Click here</a> to return to the old datastore.</span>
            </p>
        </div>
      {% block search %}
        {% snippet 'home/snippets/search.html' %}
      {% endblock %}
      <p>Lower homepage content to go here...</p>
    </div>
  </div>
  